{{#if landscapeService.landscape}}
Selected Landscape:{{landscapeService.landscape.timestamp}}
{{else}}
  {{landscapeService.landscapeList.length}} possible Landscapes:
  <ul>
    {{#each landscapeService.landscapeList as |landscape|}}
      <li>
        <a class="dropdown-item d-flex-center" style="cursor: pointer" title="set landscape"  {{action "setTimestamp" model landscape.timestamp.timestamp}}>
          {{#if (eq model.landscapeTimestamp landscape.timestamp.timestamp)}}
            selected
          {{else}}
            unselected
          {{/if}}
          {{landscape.timestamp.name}}
        </a>
      </li>
    {{/each}}
  </ul>
{{/if}}
