<div class="col-12 d-flex flex-column">
    <div class="mb-4">
    {{#link-to "tutorial.list.tutorial"}}{{svg-jar "reply" class="octicon align-middle"}}{{/link-to}}
    </div>
    <div style="overflow-y: auto">
      <div class="row" style="margin-right: 0">
        <div class="col-12 col-xl-6 mb-4">
          <div class="card">
            <div class="card-body">
              {{tutorial-hierarchie tutorial=model}}
              <hr>
              {{#bs-form model=model onSubmit=(action "saveTutorialChanges" model) as |form|}}
                  {{form.element controlType="number" label="ID" property="id" disabled=true}}
                  {{form.element controlType="text" label="Title" placeholder="Enter new tutorial title" property="title"}}
                  {{form.element controlType="text" label="Landscape" placeholder="Enter landscape timestamp" property="landscapeTimestamp"}}
                    {{#link-to "tutorial.edit.tutorial.landscape" model}} 
                      {{#if landscapeservice.tutorialLandscape.isFulfilled}}edit landscape{{else}}select landscape{{/if}}
                    {{/link-to}}
                  <h4>Sequences</h4>
                  <div class="d-flex flex-grow-1" style="overflow-y: auto">
                      <table class="table table-striped">
                          <thead class="thead-light">
                              <tr>
                                  <th scope="col">ID</th>
                                  <th scope="col">Title</th>
                                  <th scope="col">Steps</th>
                              </tr>
                          </thead>
                          <tbody>
                            {{#each model.sequences as |sequence|}}
                            <tr>
                            <th scope="row">
                              {{#link-to "tutorial.edit.sequence" sequence}}{{sequence.id}}{{/link-to}}
                            </th>
                            <td>{{sequence.title}}</td>
                            <td>{{sequence.steps.length}}</td>
                            </tr>
                            {{/each}}
                              {{#link-to "tutorial.create.sequence" model}}Add new Sequence{{/link-to}}
                          </tbody>
                          </table>
                 </div>
              {{bs-button defaultText="Save" type="primary" buttonType="submit"}}
              {{/bs-form}}
              {{#link-to "tutorial.run" model}}Run tutorial{{/link-to}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
