    <h4>{{if sequence "Steps" (if tutorial "Sequences" "") }}</h4>
    <div class="d-flex flex-grow-1" style="overflow-y: auto">
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    {{#if tutorial}}<th scope="col">Steps</th>{{/if}}
                </tr>
            </thead>
            <tbody>
{{#if sequence}}
  {{#each sequence.steps as |step|}}
  <tr>
  <th scope="row">
    {{#link-to "tutorial.edit.step" step}}{{step.id}}{{/link-to}}
  </th>
  <td>{{step.title}}</td>
</tr>
  {{/each}}
  {{#link-to "tutorial.create.step" sequence}}Add new Step{{/link-to}}

{{else if tutorial}}

{{#each tutorial.sequences as |sequence|}}
<tr>
<th scope="row">
  {{#link-to "tutorial.edit.sequence" sequence}}{{sequence.id}}{{/link-to}}
</th>
<td>{{sequence.title}}</td>
<td>{{sequence.steps.length}}</td>

</tr>
{{/each}}
  {{#link-to "tutorial.create.sequence" tutorial}}Add new Sequence{{/link-to}}
{{/if}}
</tbody>
</table>
</div>
