{{#if tutorial}}

    {{#bs-form model=tutorial onSubmit=(action "saveTutorialChanges" tutorial) as |form|}}
        {{form.element controlType="number" label="ID" property="id" disabled=true}}
        {{form.element controlType="text" label="Title" placeholder="Enter new tutorial title" property="title"}}
        {{form.element controlType="text" label="Landscape" placeholder="Enter landscape timestamp" property="landscapeTimestamp"}}
        {{#if tutorial.landscape.isFulfilled }}
        {{#if tutorial.landscape}}
          {{#link-to "tutorial.edit.tutorial.target" tutorial}}Select target{{/link-to}}
        {{else}}
          Landscape must be associated with tutorial before target can be set.
        {{/if}}
        {{else}}
        <div id="spinnerDiv" class="container" style="position:relative; height:20%;">
          {{ember-spinner}}
        </div>
        {{/if}}
        {{edit-form-list tutorial=tutorial}}
        {{bs-button defaultText="Save" type="primary" buttonType="submit"}}
    {{/bs-form}}

{{else if sequence}}
  {{#bs-form model=sequence onSubmit=(action "saveSequenceChanges" sequence) as |form|}}
      {{form.element controlType="number" label="ID" property="id" disabled=true}}
      {{form.element controlType="text" label="Title" placeholder="Enter New Sequence Title" property="title"}}
      {{edit-form-list sequence=sequence}}
      {{bs-button defaultText="Save" type="primary" buttonType="submit"}}
  {{/bs-form}}
{{else if step}}
    {{#bs-form model=step onSubmit=(action "saveStepChanges" step) as |form|}}
        {{form.element controlType="number" label="ID" property="id" disabled=true}}
        {{form.element controlType="text" label="Title" placeholder="Enter New Step Title" property="title"}}
        {{bs-button defaultText="Save" type="primary" buttonType="submit"}}
    {{/bs-form}}
{{/if}}
