{{#link-to "tutorial.list"}}{{svg-jar "reply" class="octicon align-middle"}}{{/link-to}}
{{#bs-form model=model onSubmit=(action "saveSequenceChanges" model) as |form|}}
  {{form.element controlType="text" label="Title" placeholder="Enter New Sequence Title" property="title"}}
{{bs-button defaultText="Save" type="primary" buttonType="submit"}}
{{/bs-form}}
{{#bs-dropdown as |dd|}}
                       {{#dd.button class="removecaret d-flex-center" size="sm" title="Options"}}
                       {{svg-jar "kebab-vertical" class="octicon"}}
                       {{/dd.button}}
                       {{#dd.menu as |ddm|}}
                      {{#ddm.item title="set landscape"}}
                          <a class="dropdown-item d-flex-center" style="cursor: pointer" title="Delete"
                           {{action "resetLandscape"}}>
                           {{svg-jar "globe" class="octicon" id="change-landscape"}}
                           {{#if model.landscapeTimestamp}}
                             <span>change landscape</span>
                           {{else}}
                             <span>select landscape</span>
                           {{/if}}
                         </a>
                       {{/ddm.item}}
                       {{/dd.menu}}
                       {{/bs-dropdown}}
