<div class="row">
  <div class="col-8" id="vizspace">
    {{#if selectMode}}
    {{#unless liveMode}}
    {{!-- {{landscape-select/landscapelist model=model}} --}}
    {{#if showLandscape}}
    {{#if landscapeService.latestLandscape.systems}}
    <div id="rendering">
      {{landscape-visualization interaction=landscapeService.landscapeinteraction interactionModel=model runmode=runmode }}
      <!-- popup(s) -->
      {{visualization/rendering/popups/popup-coordinator
              popupData=additionalData.popupContent}}
    </div>
    {{else}}
    <div class="container-fluid">
      <div class="jumbotron">
        <h2>No Landscape for the tutorial selected!</h2>
        <p>Please select a landscape from the timeline.
          If the timeline is empty, please <i>upload</i> a landscape via the menu <i>Replay</i> first.
        </p>
      </div>
      <div id="spinnerDiv" class="container" style="position:relative; height:20%;">
        {{ember-spinner}}
      </div>
    </div>
    {{/if}}
    {{else}}
    <div id="rendering">
      <div style="position: absolute!important" class="pl-1">
        {{#bs-button onClick=(action "openLandscapeView") type="secondary" outline=true title="Back to Landscape"}}
        {{svg-jar "reply" class="octicon align-middle"}}
        {{/bs-button}}
      </div>
      {{application-visualization latestApplication=landscapeRepo.latestApplication interaction=landscapeService.applicationinteraction interactionModel=model runmode=runmode }}
      {{visualization/rendering/popups/popup-coordinator
              popupData=additionalData.popupContent}}
    </div>
    {{/if}}
    <!-- timeline -->
    <div id="timeline-content">
      {{#bs-button
        onClick=(action "toggleTimeline")
        type="secondary"
        outline=true
        class="btn-timeline"
        title=(if renderingService.showTimeline "Hide Timeline" "Show Timeline")
      }}
      {{#unless renderingService.showTimeline}}<span class="pr-1">Show Timeline</span>{{/unless}}
      {{svg-jar "chevron-up" id="hidetimeline-icon" class=(if renderingService.showTimeline "octicon align-middle hidetimeline-icon-down" "octicon align-middle")}}
      {{/bs-button}}
      <div id="timeline" class="timeline {{unless renderingService.showTimeline "timelinehide"}}">
        {{replay/page-setup/timeline/plotly-timeline timestamps=timestampRepo.replayTimelineTimestamps clicked=(action 'timelineClicked')}}
      </div>
    </div>
    {{/unless}}
    {{else}}
    {{#if showLandscape}}
    <div id="rendering">
      {{landscape-visualization interaction=landscapeService.landscapeinteraction interactionModel=model runmode=runmode }}
    </div>
    {{else}}
    <div id="rendering">
      <div style="position: absolute!important" class="pl-1">
        {{#bs-button onClick=(action "openLandscapeView") type="secondary" outline=true title="Back to Landscape"}}
        {{svg-jar "reply" class="octicon align-middle"}}
        {{/bs-button}}
      </div>
      {{application-visualization latestApplication=landscapeService.application interaction=landscapeService.applicationinteraction interactionModel=model runmode=runmode }}
    </div>
    {{/if}}
    {{/if}}
  </div>
  <div class="col-4" id="tutorialselection" style='background-color:rgba(255,255,255,0.3);border: 1px solid black'>
    {{#unless runmode}}
    {{#if this.currentUser.user.isAdmin}}
    {{component form model=model runmode=runmode}}
    {{else}}
    {{component "step-form" model=tutorialService.activeStep runmode=true}}
    {{/if}}
    {{else}}
    {{component "step-form" model=tutorialService.activeStep runmode=true}}
    {{/unless}}
  </div>
</div>