<h3>
    {{#if tutorial}}
        Tutorial "{{tutorial.title}}"
    {{/if}}
    {{#if sequence}}
      {{#link-to "tutorial.edit.tutorial" sequence.tutorial}}
              {{svg-jar "arrow-left" class="octicon align-middle"}}
       {{/link-to}}
        Sequence "{{sequence.title}}"
    {{/if}}
    {{#if step}}
       {{#link-to "tutorial.edit.sequence" step.sequence}}
              {{svg-jar "arrow-left" class="octicon align-middle"}}
       {{/link-to}}
        Step "{{step.title}}"
    {{/if}}
</h3>
