<h3>
    {{#if tutorial.title}}
        Tutorial "{{tutorial.title}}"
    {{/if}}
    {{#if sequence.title}}
      {{#link-to "tutorial.edit" tutorial class=tutorial.id}}
              {{svg-jar "arrow-left" class="octicon align-middle"}}
       {{/link-to}}
        Sequence "{{sequence.title}}"
      
    {{/if}}
    {{#if step.title}}
       {{#link-to "tutorial.edit" tutorial class=tutorial.id}}
              {{svg-jar "arrow-left" class="octicon align-middle"}}
       {{/link-to}}
        Step "{{step.title}}"
    {{/if}}
</h3>