<div class="d-flex justify-content-center flex-grow-1 container" style="min-height: 0">
  {{#if (eq page "main")}}
  <div class="col-12 d-flex flex-column">
    <h3>Tutorials</h3>
    <div class="mb-3">
      <div class="float-right">
        {{#bs-button class="d-flex-center"onClick=(action "openCreateTutorialPage") type="success" outline=true title="Add Tutorial"}}
        {{svg-jar "mortar-board" class="octicon"}}{{svg-jar "plus-small" class="octicon"}}<span>Add Tutorial</span>
        {{/bs-button}}
      </div>
    </div>
    <div class="d-flex flex-grow-1" style="overflow-y: auto">
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Sequences</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {{#each tutorials as |tutorial|}}
          <tr>
            <th scope="row">{{#link-to "tutorial.edit" tutorial class=tutorial.id}}{{tutorial.id}}{{/link-to}}</th>
            <td>{{tutorial.title}}</td>
            <td>
              {{tutorial.sequences.length}}
            </td>
            <td class="text-right">
              {{#bs-dropdown as |dd|}}
              {{#dd.button class="removecaret d-flex-center" size="sm" title="Options"}}
              {{svg-jar "kebab-vertical" class="octicon"}}
              {{/dd.button}}
              {{#dd.menu as |ddm|}}
              {{#ddm.item title="Edit"}}
              <a class="dropdown-item d-flex-center" style="cursor: pointer" title="Edit" {{action "openEditTutorialPage" tutorial}}>
                {{svg-jar "pencil" class="octicon" id="edit-button"}}<span>Edit</span>
              </a>
              {{/ddm.item}}
              {{#ddm.item title="Delete"}}
              <a class="dropdown-item d-flex-center" style="cursor: pointer" title="Delete" {{action "deleteTutorial" tutorial}}>
                {{svg-jar "x" class="octicon" id="delete-button"}}<span>Delete</span>
              </a>
              {{/ddm.item}}
              {{/dd.menu}}
              {{/bs-dropdown}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
<<<<<<< HEAD
=======
  {{else if (eq page "editTutorial")}}
  <div class="col-12 d-flex flex-column">
    <div class="mb-4">
      {{#bs-button onClick=(action "openMainPage") type="secondary" outline=true title="Back to Tutorial List"}}
      {{svg-jar "reply" class="octicon align-middle"}}
      {{/bs-button}}
    </div>
    <div style="overflow-y: auto">
      <div class="row" style="margin-right: 0">
        <div class="col-12 col-xl-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h3>Tutorial {{currentTutorial.title}}</h3>
              <hr>
              {{#bs-form model=this onSubmit=(action "saveTutorialChanges") as |form|}}
              {{form.element controlType="number" label="ID" property="tutorial_id_change" disabled=true}}
              {{form.element controlType="text" label="Title" placeholder="Enter New Tutorial Title" property="tutorial_title_change"}}
                            {{form.element controlType="text" label="Landscape" placeholder="Landscape" property="tutorial_landscape_change"}}

              Sequences:
              {{#bs-button onClick=(action "openCreateSequencePage" currentTutorial) type="secondary" outline=true title="Add Sequence"}}
              {{svg-jar "versions" class="octicon"}}{{svg-jar "plus-small" class="octicon"}}
              {{/bs-button}}
              {{#each currentTutorial.sequences as |sequence|}}
              {{#bs-button onClick=(action "openEditSequencePage" currentTutorial sequence) type="secondary" outline=true title="Edit Sequence"}}
              {{svg-jar "pencil" class="octicon"}}{{sequence.title}} ({{sequence.steps.length}})
              {{/bs-button}}
              {{/each}}
              {{bs-button defaultText="Apply Changes" type="primary" buttonType="submit"}}
              {{/bs-form}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{else if (eq page "editSequence")}}
  <div class="col-12 d-flex flex-column">
    <div class="mb-4">
      {{#bs-button onClick=(action "openMainPage") type="secondary" outline=true title="Back to Tutorial List"}}
      {{svg-jar "reply" class="octicon align-middle"}}
      {{/bs-button}}

    </div>
    <div style="overflow-y: auto">
      <div class="row" style="margin-right: 0">
        <div class="col-12 col-xl-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h3>Tutorial "{{currentTutorial.title}}"
                {{#bs-button onClick=(action "openEditTutorialPage" currentTutorial) type="secondary" outline=true title="Back to Tutorial"}}
                {{svg-jar "arrow-left" class="octicon align-middle"}}
                {{/bs-button}}
                Sequence "{{currentSequence.title}}"
              </h3>
              <hr>
              {{#bs-form model=this onSubmit=(action "saveSequenceChanges") as |form|}}
                {{form.element controlType="number" label="ID" property="sequence_id_change" disabled=true}}
                {{form.element controlType="text" label="Title" placeholder="Enter New Sequence Title" property="sequence_title_change"}}
                Steps:
                {{#bs-button onClick=(action "openCreateStepPage" currentTutorial currentSequence) type="secondary" outline=true title="Add Step"}}
                  {{svg-jar "list-ordered" class="octicon"}}{{svg-jar "plus-small" class="octicon"}}
                {{/bs-button}}
                {{#each currentSequence.steps as |step|}}
                  {{#bs-button onClick=(action "openEditStepPage" currentTutorial currentSequence step) type="secondary" outline=true title="Edit Step"}}
                    {{svg-jar "pencil" class="octicon"}}{{step.title}}
                  {{/bs-button}}
                  {{sequence.title}}
                {{/each}}
                {{bs-button defaultText="Apply Changes" type="primary" buttonType="submit"}}
              {{/bs-form}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{else if (eq page "editStep")}}
  <div class="col-12 d-flex flex-column">
    <div class="mb-4">
      {{#bs-button onClick=(action "openMainPage") type="secondary" outline=true title="Back to Tutorial List"}}
        {{svg-jar "reply" class="octicon align-middle"}}
      {{/bs-button}}
    </div>
    <div style="overflow-y: auto">
      <div class="row" style="margin-right: 0">
        <div class="col-12 col-xl-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h3>Tutorial "{{currentTutorial.title}}"
                {{#bs-button onClick=(action "openEditTutorialPage" currentTutorial) type="secondary" outline=true title="Back to Tutorial"}}
                  {{svg-jar "arrow-left" class="octicon align-middle"}}
                {{/bs-button}}
                Sequence "{{currentSequence.title}}"
                {{#bs-button onClick=(action "openEditSequencePage" currentTutorial currentSequence) type="secondary" outline=true title="Back to Sequence"}}
                  {{svg-jar "arrow-left" class="octicon align-middle"}}
                {{/bs-button}}
                Step "{{currentStep.title}}"
              </h3>
              <hr>
              {{#bs-form model=this onSubmit=(action "saveStepChanges") as |form|}}
                {{form.element controlType="number" label="Step ID" property="step_id_change" disabled=true}}
                {{form.element controlType="text" label="Title" placeholder="Enter New Step Title" property="step_title_change"}}
                {{#bs-button onClick=(action "openSelectTarget" currentTutorial currentSequence currentStep) type="secondary" outline=true title="Select Target"}}
                      {{svg-jar "search" class="octicon align-middle"}}
                {{/bs-button}}
                {{form.element controlType="text" label="TargetId" placeholder="TargetId" property="step_target_id_change" disabled=true}}
                {{form.element controlType="text" label="TargetType" placeholder="TargetType" property="step_target_type_change" disabled=true}}
                {{bs-button defaultText="Apply Changes" type="primary" buttonType="submit"}}
              {{/bs-form}}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
>>>>>>> 37fe1edf4475efa88b0471dafc8b41468e8045a2
  {{else if (eq page "createTutorial")}}
  <div class="col-12 d-flex flex-column">
    <div>
      {{#bs-button onClick=(action "openMainPage") type="secondary" outline=true title="Back to Tutorial List"}}
      {{svg-jar "reply" class="octicon align-middle"}}
      {{/bs-button}}
    </div>
    <div class="mt-4" style="overflow-y: auto">
      <div class="card">
        <div class="card-body">
          <h3>Create Tutorial</h3>
          {{#bs-form model=this onSubmit=(action "saveTutorial") as |form|}}
          {{form.element controlType="text" label="Title" placeholder="Title" property="title"}}
          {{bs-button defaultText="Create" type="primary" buttonType="submit"}}
          {{/bs-form}}
        </div>
      </div>
    </div>
  </div>
  {{else if (eq page "createSequence")}}
  <div class="col-12 d-flex flex-column">
    <div>
      {{#bs-button onClick=(action "openMainPage") type="secondary" outline=true title="Back to Tutorial List"}}
      {{svg-jar "reply" class="octicon align-middle"}}
      {{/bs-button}}
    </div>
    <div class="mt-4" style="overflow-y: auto">
      <div class="card">
        <div class="card-body">
          <h3>Tutorial "{{currentTutorial.title}}"
            {{#bs-button onClick=(action "openEditTutorialPage" currentTutorial) type="secondary" outline=true title="Back to Tutorial"}}
            {{svg-jar "arrow-left" class="octicon align-middle"}}
            {{/bs-button}}Create Sequence</h3>
          {{#bs-form model=this onSubmit=(action "saveSequence") as |form|}}
          {{form.element controlType="text" label="Title" placeholder="Title" property="title"}}
          {{bs-button defaultText="Create" type="primary" buttonType="submit"}}
          {{/bs-form}}
        </div>
      </div>
    </div>
  </div>
  {{else if (eq page "createStep")}}
  <div class="col-12 d-flex flex-column">
    <div>
      {{#bs-button onClick=(action "openMainPage") type="secondary" outline=true title="Back to Tutorial List"}}
      {{svg-jar "reply" class="octicon align-middle"}}
      {{/bs-button}}
    </div>
    <div class="mt-4" style="overflow-y: auto">
      <div class="card">
        <div class="card-body">
          <h3>Tutorial "{{currentTutorial.title}}"
            {{#bs-button onClick=(action "openEditTutorialPage" currentTutorial) type="secondary" outline=true title="Back to Tutorial"}}
            {{svg-jar "arrow-left" class="octicon align-middle"}}
            {{/bs-button}}
            Sequence "{{currentSequence.title}}"
            {{#bs-button onClick=(action "openEditSequencePage" currentTutorial currentSequence) type="secondary" outline=true title="Back to Sequence"}}
              {{svg-jar "arrow-left" class="octicon align-middle"}}
            {{/bs-button}}
            Create Step</h3>
          {{#bs-form model=this onSubmit=(action "saveStep") as |form|}}
          {{form.element controlType="text" label="Title" placeholder="Title" property="title"}}
          {{form.element controlType="text" label="TargetId" placeholder="TargetId" property="targetId" disabled=true}}
          {{form.element controlType="text" label="TargetType" placeholder="TargetType" property="targetType" disabled=true}}
          {{bs-button defaultText="Create" type="primary" buttonType="submit"}}
          {{/bs-form}}
        </div>
      </div>
    </div>
  </div>
  {{else if (eq page "selectTarget")}}
    <div class="col-12 d-flex flex-column">
      <div>
        {{#bs-button onClick=(action "openMainPage") type="secondary" outline=true title="Back to Tutorial List"}}
        {{svg-jar "reply" class="octicon align-middle"}}
        {{/bs-button}}
      </div>
            <h3>Step "{{currentStep.title}}"</h3>
              Type:{{step_target_type_change}}
              Id:{{step_target_id_change}}
              {{#bs-button onClick=(action "setTarget" currentTutorial currentSequence currentStep landscapeInteraction.selectedTarget) type="secondary" outline=true title="Back to Step"}}
                  {{svg-jar "arrow-left" class="octicon align-middle"}}
              {{/bs-button}}
      {{#if landscapeRepo.latestLandscape.systems}}
        <div id="rendering">
          {{visualization/rendering/landscape-rendering latestLandscape=landscapeRepo.latestLandscape landscapeInteraction=landscapeInteraction}}
          <!-- popup(s) -->
          {{visualization/rendering/popups/popup-coordinator
          popupData=additionalData.popupContent}}
        </div>
      {{else}}
      <div class="container-fluid">
        <div class="jumbotron">
          <h2>No Landscape Found!</h2>
          <p>A new landscape will be fetched every 10 seconds.</p>
        </div>
        <div id="spinnerDiv" class="container" style="position:relative; height:20%;">
          {{ember-spinner}}
        </div>
      </div>
      {{/if}}
      </div>
  {{/if}}
</div>
