{{#link-to "tutorial.list"}}{{svg-jar "reply" class="octicon align-middle"}}{{/link-to}}
 {{#bs-dropdown as |dd|}}
                        {{#dd.button class="removecaret d-flex-center" size="sm" title="Options"}}
                        {{svg-jar "kebab-vertical" class="octicon"}}
                        {{/dd.button}}
                        {{#dd.menu as |ddm|}}
                        {{#ddm.item title="Run"}}
                        <a class="dropdown-item d-flex-center" style="cursor: pointer" title="Run">
                        {{#link-to "tutorial.run" model}}
                         {{svg-jar "play" class="octicon" id="run-button"}}<span>Run</span>
                        {{/link-to}}
                        </a>
                        {{/ddm.item}}
                        {{#ddm.item title="Edit"}}
                        <a class="dropdown-item d-flex-center" style="cursor: pointer" title="Edit">
                            {{#link-to "tutorial.tutorial" model}}
                             {{svg-jar "pencil" class="octicon" id="edit-button"}}<span>Edit</span>
                            {{/link-to}}
                        </a>
                        {{/ddm.item}}
                        {{#ddm.item title="set landscape"}}
                           <a class="dropdown-item d-flex-center" style="cursor: pointer" title="Delete"
                            {{action "resetLandscape"}}>
                            {{svg-jar "globe" class="octicon" id="change-landscape"}}
                            {{#if model.landscapeTimestamp}}
                              <span>change landscape</span>
                            {{else}}
                              <span>select landscape</span>
                            {{/if}}
                          </a>
                        {{/ddm.item}}
                         {{#ddm.item title="new sequence"}}
                         <a class="dropdown-item d-flex-center" style="cursor: pointer" title="new sequence"
                            {{action "newSequence" model}}>
                            {{svg-jar "plus" class="octicon" id="new-sequence"}}
                             <span>new sequence</span>
                          </a>
                        {{/ddm.item}}
                        {{/dd.menu}}
                        {{/bs-dropdown}}
{{form.element controlType="text" label="Landscape" placeholder="Enter landscape timestamp" property="landscapeTimestamp"}}
{{#bs-form model=model onSubmit=(action "saveTutorialChanges" model) as |form|}}
    {{form.element controlType="text" label="ID" property="id" disabled=true}}
    {{form.element controlType="text" label="Title" placeholder="Enter new tutorial title" property="title"}}

      {{!-- {{#link-to "tutorial.edit.tutorial.landscape" model}}
        {{#if landscapeService.landscape}}edit landscape{{else}}select landscape{{/if}}
      {{/link-to}} --}}
{{bs-button defaultText="Save" type="primary" buttonType="submit"}}

{{/bs-form}}

