<div class="row">
  <div class="col-12" id="vizspace">
        <h3>Tutorial "{{model.title}}"</h3>
          Id:{{#if landscapeInteraction.landscapeTimestamp}}{{landscapeInteraction.landscapeTimestamp}}{{else}}{{model.landscapeTimestamp}}{{/if}}
  {{#if model.landscape.isFulfilled}}


  {{visualization/page-setup/visualization-navbar
    content=(array
      (component "landscape-select/navbar/toggle-live-landscape" class="nav-item")
    )
}}
    <div id="rendering">
      {{#if (and landscapeListener.pauseVisualizationReload model.landscape.isFulfilled)}}
        {{visualization/rendering/landscape-rendering latestLandscape=model.landscape interaction=landscapeInteraction}}
      {{else}}
        {{visualization/rendering/landscape-rendering latestLandscape=landscapeRepo.latestLandscape interaction=landscapeInteraction}}
      {{/if}}
    </div>
    <div id="timeline-content">
      {{#bs-button
        onClick=(action "toggleTimeline")
        type="secondary"
        outline=true
        class="btn-timeline"
        title=(if renderingService.showTimeline "Hide Timeline" "Show Timeline")
      }}
        {{#unless renderingService.showTimeline}}<span class="pr-1">Show Timeline</span>{{/unless}}
        {{svg-jar "chevron-up" id="hidetimeline-icon" class=(if renderingService.showTimeline "octicon align-middle hidetimeline-icon-down" "octicon align-middle")}}
      {{/bs-button}}
      <div id="timeline" class="timeline {{unless renderingService.showTimeline "timelinehide"}}">
        {{landscape-select/timeline tutorialLandscapes=landscapeListener.pauseVisualizationReload landscapeTimestamp=model.landscapeTimestamp}}
      </div>
    </div>
  {{else}}
  <div class="container-fluid">
    <div class="jumbotron">
      <h2>Landscape loading for "{{model.landscapeTimestamp}}"!</h2>
      <div id="spinnerDiv" class="container" style="position:relative; height:20%;">
        {{ember-spinner}}
      </div>
    </div>
  </div>
  {{/if}}

  </div>
    </div>
