<div class="col-12 d-flex flex-column">
        <h3>Tutorial "{{model.title}}"</h3>
          Id:{{#if landscapeInteraction.targetId}}{{landscapeInteraction.targetId}}{{else}}{{model.targetId}}{{/if}}
          Type:{{#if landscapeInteraction.targetType}}{{landscapeInteraction.targetType}}{{else}}{{model.targetType}}{{/if}}
  {{#if model.landscape.isFulfilled}}
  {{#bs-button onClick=(action "saveTarget" model landscapeInteraction.targetType landscapeInteraction.targetId) type="secondary" outline=true title="Back to Step"}}
      {{svg-jar "desktop-download" class="octicon align-middle"}}
  {{/bs-button}}
    <div id="rendering">
      {{visualization/rendering/landscape-rendering latestLandscape=model.landscape interaction=landscapeInteraction}}
    </div>

  {{else}}
  <div class="container-fluid">
    <div class="jumbotron">
      <h2>Landscape loading for "{{model.landscapeTimestamp}}"!</h2>
      <div id="spinnerDiv" class="container" style="position:relative; height:20%;">
        {{ember-spinner}}
      </div>
    </div>
  </div>
  {{/if}}
  </div>
